<template>
  <div style="margin-bottom:0.5em;">
    <div style="font-size:0.6em;">{{ item.date }}</div>
    <div style="line-height:0.9em;">{{ item.title }}</div>
  </div>
</template>

<script>
export default {
  name: "EventCard",
  props: ["data"],
  computed: {
    item() {
      let { frontmatter: i } = this.$props.data;
      let d = new Date(i.date.split(" ")[0]);

      return {
        title: i.title,
        date: d.toDateString()
      };
    }
  }
};
</script>

<style scoped></style>
