<template>
  <div>
    <div id="menu" :class="{ open: open }">
      <div style="max-width:700px"><slot></slot></div>
    </div>
    <nav>
      <a href="#">LiveCode.RVA</a>
      <button v-on:click="toggleMenu">{{ open ? "Close" : "Menu" }}</button>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Nav",
  components: {},
  data() {
    return {
      open: false
    };
  },
  methods: {
    toggleMenu() {
      this.open = !this.open;
    }
  }
};
</script>

<style scoped>
@media screen and (min-width: 700px) {
  nav {
    position: fixed;
    left: 0px;
    bottom: -0.9em;
    width: 100vh;
    height: 0.9em;
    background: var(--background);

    transform: rotate(-90deg);
    transform-origin: top left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0.2em;

    z-index: 999;
  }
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background-transparent);
    padding-left: 1.5em;
    overflow-y: auto;

    /* display: none; */
    opacity: 0;
    pointer-events: none;

    transition: 0.4s ease all;

    z-index: 999;
  }
  #menu.open {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;

    transition: 0.4s ease all;
  }
}
@media screen and (max-width: 700px) {
  nav {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 2em;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0.3em;

    z-index: 999;
  }
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    padding: 2.5em 0.3em;
    overflow-y: auto;

    /* display: none; */
    opacity: 0;
    pointer-events: none;

    transition: 0.4s ease all;

    z-index: 999;
  }
  #menu.open {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;

    transition: 0.4s ease all;
  }
}
button {
  display: inline;
  font-size: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  border: 0;
}
</style>
