<template>
  <div class="main">
    <h1>{{ $props.title }}</h1>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Section",
  components: {},
  props: ["title"],
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
div.main {
  margin-bottom: 1.6em;
}
h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 0.3em;
}
</style>
