<template>
  <div>
    <Nav>
      <div v-html="data.menu" />
    </Nav>
    <div id="container">
      <div id="main">
        <Content />
      </div>
      <div id="sidebar">
        <Section title="Events">
          <EventCard v-for="event in events" :data="event" />
        </Section>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "./ui/Nav.vue";
import Section from "./ui/Section.vue";
import EventCard from "./ui/EventCard.vue";

export default {
  name: "Layout",
  components: {
    Nav,
    Section,
    EventCard
  },
  computed: {
    data() {
      return this.$page.frontmatter;
    },
    events() {
      let isEvent = e => e.path.includes("/events/");
      let sortEvent = (a, b) => {
        let dateA = new Date(a.frontmatter.date.split(" ")[0]),
          dateB = new Date(b.frontmatter.date.split(" ")[0]);
        if (dateA > dateB) {
          return -1;
        }
        if (dateA < dateB) {
          return 1;
        }
        return 0;
      };

      let events = this.$site.pages.filter(isEvent);
      events = events.sort(sortEvent);

      console.log(events);
      return events;
    }
  },
  mounted() {
    console.log(this.events);
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root {
  --background: #eeeeee;
  --background-transparent: #eeeeee;
}

::selection {
  background: #00000095;
  color: #ffffff;
}

body {
  background: #eee;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;

  font-size: 2.4em;

  overflow-y: hidden;

  letter-spacing: -0.3pt;
}
@media screen and (max-width: 850px) {
  body {
    font-size: 1.8em;
  }
}
* {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}
#main div p {
  padding-bottom: 0.3em;
}
#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 700px) {
  #main {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    overflow-y: auto;

    background: #bbb;
    padding: 0 0.3em 0 1.3em;
  }
  #sidebar {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    overflow-y: auto;

    background: var(--background);
    padding: 0 0.3em;
  }
}
@media screen and (max-width: 700px) {
  #container {
    padding-top: 2.5em;
    overflow-y: auto;
  }
  #main {
    padding: 0 0.3em;
  }
  #sidebar {
    padding: 1em 0.3em;
  }
}
</style>
